# Python
__pycache__/
*.py[cod]

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
/media/
staticfiles/

# Env & IDE
.env
.env.local
.vscode/
.idea/
*.swp

# Migrations (optional)
*/migrations/__pycache__/
*/migrations/*.pyc
